In [1]:
def read_csv(path):
    with open(path, 'r') as f:
        for i, line in zip(range(5),f):
            print (line.strip())

In [2]:
read_csv('titanic_train.csv')

Name,Gender,Age
A,Male,12
B,Male,34
C ,Male,45
D,female,23

In [ ]:
with open('titanic_train.csv', 'r') as f:
    for i, line in zip(range(5), f):
        print(line.strip())

In [3]:
import pandas as pd

In [4]:
pd.read_csv('titanic_train.csv')

  Name  Gender  Age
0    A    Male   12
1    B    Male   34
2   C     Male   45
3    D  female   23
4    E  female   84